{% extends 'base.html.twig' %}

{% block title %}Netgen Layouts Demo{% endblock %}

{% block body %}
    <h1>Netgen Layouts Demo</h1>

    <ul>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li>Logged in as {{ app.user.userIdentifier }} (<a href="{{ path('app_logout') }}">logout</a>)</li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Login</a></li>
            <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}
        <li><a href="{{ path('nglayouts_admin') }}">Netgen Layouts admin</a></li>
    </ul>
{% endblock %}
