{% extends 'base.html.twig' %}

{% block title %}{{ album.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ album.name }}</h1>
        <p class="text-secondary">{{ album.description }}</p>
        <p><a href="{{ path('app_story', { album: album.slug }) }}" class="btn btn-primary">View as Story</a></p>

        <div class="row row-cards mt-3">
            {% for photo in album.photos %}
                <div class="col-md-3 mb-4 text-center">
                    <img src="{{ asset(photo.imageUrl) }}" width="auto" height="115" alt="{{ photo.title }} image">
                    <div>{{ photo.title }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
